.imageFit {
  height: 50%;
  object-fit: cover;
}

.teamimage {
  filter: brightness(60%) !important;
  height: 500px;
  object-fit: cover;
}

.teamoverlay {
  line-height: 2em;
  color: white;
  padding: 40px !important;
  font-size: 1.1em;
  overflow-y:auto;
}
