.lorem {
}

.carHeight {
  height: 40vh;
  object-fit: cover;
}

.triggerLink {
  .toBeHidden {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
    cursor: pointer;
  }
  &:hover .toBeHidden {
    max-height: 30px; /* quick-n-dirty solution, but should work and is easy to adjust */
  }
}
