.bgAccent {
  background-color: var(--accentColor);
}

.textAccent {
  color: var(--accentColor);
}

.primaryBorder {
  border: 1px solid var(--primaryColor);
  padding-top: 4px;
}

.accentBorder {
  border: 1px solid var(--accentColor);
  padding-top: 4px;
}

.borderBottomOnly {
  border-width: 0 0 1px 0;
}

.button {
  width: 100%;
  background-color: white !important;
  border: 0px !important;
  text-align: left !important;
}

.answer {
  margin-left: 2%;
}

.cardheader {
  padding: 0% !important;
}
