.footerContainer{
    background-color: var(--primaryColor);
}
.footerLeadIn {
    margin-top: 16px;
}
.footerLeadIn svg {
    height: auto;
    margin-left: -16px;
    margin-right: -16px;
}
.colorReset {
    color: inherit;
}
.underline {
    text-decoration: underline;
}
.popupButton{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: black;
    text-decoration: underline;  
}
