.footerContainer{
    background-color: var(--primaryColor);
    color:var(--textPrimary);
}
.footerLeadIn {
    margin-top: 16px;
}
.footerLeadIn svg {
    margin-bottom: -5px;
    height: auto;
    margin-left: -16px;
    margin-right: -16px;
}
.colorReset {
    color: inherit;
    text-decoration: underline;
}