.navbar{
    background-color: var(--primaryColor) !important;
}

.navbaralt{
    color: transparent !important;
}

.hamburger{
    background-color: var(--primaryColor) !important;
    
}

.collapseabletext{
    background-color: var(--primaryColor) !important;
    text-align: right;
    margin-left: 93%;
    border-radius: 5%;

}






