.navbar{
    z-index: 2 !important;
    background-color: var(--primaryColor) !important;  
    animation: fadeIn ease-in-out 1s;
    height: 55px !important;
    align-items: stretch !important;
}

.navbaralt{
    visibility: hidden;
    position: fixed;
}

.hamburger{
    background-color: var(--primaryColor) !important;  
    animation: fadeIn ease-in-out 1s;
}

.collapseabletext{
    background-color: var(--primaryColor) !important;
    text-align: center;
    max-width: 175px !important;
    min-width: 175px !important;
    margin-right:90% !important;
    border-radius: 5%;
}

.smallCollapse{
    width: 100vw;
    background-color: var(--primaryColor) !important;
    text-align: center;
    border-radius: 12%
}

.dropitem{
    width: 175px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    text-align: left;
}

.brand:hover{
    color:black !important;
    cursor: pointer;
}

.brand{
    color:rgb(30,30,30) !important;
}

.droplet{
    z-index: 2;    
    position: fixed !important;
    top:-5vh;
    right: 6%;
    fill: var(--primaryColor);
    height: 5vw;
    max-height: 5vh;
}

.dropletShadow{
    z-index: 2;
    filter: blur(1vw);
    fill: black;
}

.dripanimation{
    animation: drop 32s cubic-bezier(0.5, 0, 0.75, 0) infinite;
    animation-delay: 3s;
}

.curvedBaseNavbar{
    z-index: 2; 
    fill: var(--primaryColor);
    position: fixed !important;
    top: 55px;
    width: 100vw;
    animation: fadeIn ease-in-out 1s;
}

.curvedDripNavbar{
    visibility: hidden;
    z-index: 2; 
    width: 100vw;
    fill: var(--primaryColor);
    position: fixed !important;
    animation: dropbody 32s cubic-bezier(0.5, 0.03, 0.685, 0.15) infinite forwards;
    animation-delay: 1.7s;
    top: 0px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes drop {
    0% {transform: translateY(0); visibility: hidden;}
    6% {visibility: hidden;}
    10% {transform: translateY(120vh); visibility: visible;}
    100% {transform: translateY(120vh); visibility: hidden;}
  }

@keyframes dropbody {
    0% {transform: translateY(0px) rotateY(180deg); visibility: visible;}
    10% {transform: translateY(60px) rotateY(180deg); animation-delay: 3s; visibility: hidden;}
    100%{transform:translate(60px) rotate(180deg);}
  }