.popup {
    z-index: 18;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popupInner {
    z-index: 17 !important;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background: white;
}

.privacyText{
    height: 90%;
    width: 90%;
    z-index:5;
}
.textWrapper{
    height: 85%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: scroll;
    border:solid black 1px !important;
}

.title{
    padding-top: 1%;
    text-align: center;
}
.text{
    padding-left: 1%;
}
