.popup {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popupInner {
    z-index: 5 !important;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
    bottom: 20%;
    margin: auto;
    background: white;
}

.closeButton{
    width: 5%;
}

.privacyText{
    height: 90%;
    width: 90%;
    z-index:5;
}
.TextWrapper{
    height: 90%;
    padding-top: 2%;
    padding-left: 5%;
}

.title{
    padding-top: 1%;
    text-align: center;
}
