.lorem {
}

.carHeight {
  height: 40vh;
  object-fit: cover;
}

.triggerLink {
  position: relative;
  .anchor {
    position: absolute;
    content: "";
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    .toBeHidden {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.4s;
      cursor: pointer;
    }
  }
  &:hover .toBeHidden {
    max-height: 30px; /* quick-n-dirty solution, but should work and is easy to adjust */
  }
}

.artistHeight {
  max-height: 25vh;
}

.cardImg {
  object-fit: cover;
}

.descEllipsis {
  // for more info, see https://kiranworkspace.com/ellipsis-to-multiline-text-in-css/
  text-overflow: ellipsis;
  overflow: hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
