.card {
  background: none !important;
  border: none !important;
}

.bgAccent {
  background-color: var(--accentColor) !important;
}

.textAccent {
  color: var(--accentColor) !important;
}

.carousel {
  background-color: none !important;
}

.item {
  padding-top: 20px;
  text-align: center;
  padding: 10px !important;
}

.text {
  text-align: center;
}

.image {
  object-fit: cover;
  clip-path: url(#svgPath);
}
