.oppositecontent {
  flex: 1 !important;
}

@media only screen and (max-width: 800px) {
  /* For Mobile: */
  .oppositecontent {
    flex: 0 !important;
  }
}

.timelineItem {

  .timelineDot {
    color: var(--textPrimary);
    background-color: var(--primaryColor);
  }
  .timelineContent {
    color: var(--textPrimary);
    background-color: var(--primary);
    padding: 6px 16px;
  }

  &:nth-of-type(2n) {
    .timelineContent {
      color: var(--textAccent);
      background-color: var(--accentColor);
    }
    .timelineDot {
      color: var(--textAccent);
      background-color: var(--accentColor);
    }
  }
}
