.primarytimeline {
  padding: 6px 16px;
  background-color: var(--primaryColor) !important;
}

.secondarytimeline {
  padding: 6px 16px;
  background-color: var(--accentColor) !important;
}

.bgAccent {
  background-color: var(--accentColor) !important;
}

.textAccent {
  color: var(--accentColor) !important;
}

.primarytimelineicon {
  background-color: var(--primaryColor) !important;
}

.secondarytimelineicon {
  background-color: var(--accentColor) !important;
}
.oppositecontent {
  flex: 1 !important;
}

@media only screen and (max-width: 800px) {
  /* For Mobile: */
  .oppositecontent {
    flex: 0 !important;
  }
}
