.imageList {
    border: 1px solid var(--primary);
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imageContainer {
    flex: 0 0;
    margin-right: 1vw;
    position: relative;

    &:hover {
        
        .image {
            filter: brightness(0.5);
        }

        .deleteButton {
            display: initial;
        }
    }
}

.artistImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.addArea {
    flex: 1;
    width: 100px;
    height: 100px;
}

.imageContainer .deleteButton {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}