.saveChanges {
  background-color: white;
}
.policyForm {
  height: 80vh !important;
}

.policyEditor {
  .preview {
    height: 80vh !important;
  }

  .editor {
    height: 71vh;
  }

  .preview {
    font-size: 0.6em;
    overflow-y: scroll;
  }
}
