.orange{
    color: var(--primaryColor);
}

.blue{
    color: var(--accentColor);
}

.orangeborder{
   border: 1px solid var(--primaryColor);
   margin-top:2px;
}

.blueborder{
    border: 1px solid var(--accentColor);
    margin-top:2px;
}
