.footerContainer{
    background-color: #777777;
}
.footerLeadIn svg {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(54%) sepia(8%) saturate(8%) hue-rotate(319deg) brightness(84%) contrast(82%);
    height: auto;
    margin-left: -16px;
    margin-right: -16px;
}