name: Build and publish to mfinn.de

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ftp_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: cd frontend && npm ci
    - run: cd frontend && npm run build
    - uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: mfinn.de
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./frontend/build/
        server-dir: /

  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - 
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Push frontend to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            f1nnm/actionpaint:${{ github.run_number }}
            f1nnm/actionpaint:latest
            ghcr.io/f1nnm/actionpaint:${{ github.run_number }}
            ghcr.io/f1nnm/actionpaint:latest
      -
        name: Print tag
        run: echo "Tagged images with latest and $GITHUB_RUN_NUMBER"